<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Caretaker Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/custom_style.css">
  </style>
</head>

<body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #bebebe;">
    <a class="navbar-brand" href="/">PCS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        
      </ul>
    </div>
  </nav>

  <div class="container bootdey flex-grow-1 container-p-y">
    <div class="media align-items-center py-3 mb-3">
      <img src="/images/girl.jpg" alt="" class="d-block ui-w-100 rounded-circle">
      <div class="media-body ml-4">
        <h4 class="font-weight-bold mb-0"><%= first_name + " " + last_name %></h4>
        <a href="javascript:void(0)" class="btn btn-primary btn-sm">Edit</a>&nbsp;
        <a href="javascript:void(0)" class="btn btn-default btn-sm">Profile</a>&nbsp;
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <table class="table user-view-table m-0">
          <tbody>
            <tr>
              <td>Status:</td>
              <td>Active</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="card mb-4">
      <hr class="border-light m-0">

      <div class="table-responsive">
        <table class="table card-table m-0">
          <tbody>
            <tr>
              <th>Availability</th>
              <th>Booked</th>
            </tr>
            <tr>
              <td>01/01/2020</td>
              <td><span class="fa fa-check"></span></td>
            </tr>
            <tr>
              <td>02/01/2020</td>
              <td><span class="fa fa-check"></span></td>
            </tr>
            <tr>
              <td>03/01/2002</td>
              <td><span class="fa fa-times text-light"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h2>Reviews</h2>
    <% if (reviews.length > 0) { %>
    <div class="card mb-4">
      <div class="table-responsive">
        <table class="table card-table m-0">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Review</th>
              <th>Rating</th>
            </tr>
            <% for(var i=0; i < reviews.length; i++) { %>
            <tr>
              <td><%= reviews[i].first_name %> <%= reviews[i].last_name %></td>
              <td><%= reviews[i].review %></td>
              <td><%= reviews[i].rating %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <% } else { %>
    <div class="card">
      <div class="card-body">
        There are no reviews.
      </div>
    </div>
    <br>
    <% } %>

  <h2>Bids</h2>
  <% if (bids.length > 0) { %>
  <div class="card mb-4">
    <div class="table-responsive">
      <table class="table card-table m-0">
        <tbody>
          <tr>
            <th>Petowner's Name</th>
            <th>Animal's Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Bid Amount</th>
          </tr>
          <% for(var i=0; i < bids.length; i++) { %>
          <tr>
            <td><%= bids[i].pouname %></td>
            <td><%= bids[i].name %></td>
            <td><%= bids[i].s_date.toISOString().slice(0,10) %></td>
            <td><%= bids[i].e_date.toISOString().slice(0,10) %></td>
            <td><%= bids[i].price %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <% } else { %>
  <div class="card">
    <div class="card-body">
      There are no bids.
    </div>
  </div>
  <br>
  <% } %>

  <td style="width: 20%;">
    <button class="open-button" onclick="openBid()">Place Bid</button>

    <div class="form-popup" id="myForm" name="bid_form">
      <form class="form-container" action="/bid"  method="post" id = "form<%= i %>"> 
        <h1>Place Bid</h1>
        <input type="hidden" id="pousername" name="pousername" value=<%= pousername %>>
        <!-- <input type="hidden" id="hidden" + <%= i %> name="username<%= i %>" value=<%= username %>> -->
        <input type="hidden" id="username" name="username" value=<%= username %>>

        <label for="bid amount"><b>Amount</b></label>
        <input type="text" id="amount" placeholder="Bidding Amount" required="required" name="amount">
    
        <label for="pet name"><b>Pet Name</b></label>
        <input type="text" id="petname" placeholder="Pet Name" required="required" name="petname">

        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" required="required" autofocus="autofocus" name="startDate">

        <label for="endDate">End Date</label>
        <input type="date" id="endDate" required="required" autofocus="autofocus" name="endDate" >
        
        <button type="submit" form = "form<%= i %>" class="btn" value="Submit">Confirm Bid</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

        <script>
          function openBid() {
            document.getElementById("myForm").style.display = "block";
          }

          function closeForm() {
            document.getElementById("myForm").style.display = "none";
          }
        </script>

      </form>
    </div>   
  </td>
  <br>

  </div>


  <!-- JQuery, Popper, JS Plugins -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  </script>
</body>

</html>