<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Caretaker Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/custom_style.css">
  <style type="text/css">
    body {
      margin-top: 0px;
      background: #f5f5f5;
    }

    .ui-w-100 {
      width: 100px !important;
      height: auto;
    }

    .card {
      background-clip: padding-box;
      box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
    }

    .user-view-table td:first-child {
      width: 9rem;
    }

    .user-view-table td {
      padding-right: 0;
      padding-left: 0;
      border: 0;
    }

    .text-light {
      color: #babbbc !important;
    }

    .card .row-bordered>[class*=" col-"]::after {
      border-color: rgba(24, 28, 33, 0.075);
    }

    .text-xlarge {
      font-size: 170% !important;
      color: #000000;
    }

    .btn-primary {
      background-color: #e9bbb5;
      border-color: #e9bbb5;
    }

    .btn-default {
      border-color: #e9bbb5;
      color: #000000;
    }

    .btn:hover {
      background-color: #E17A6C;
      border-color: #E17A6C;
    }

    .fa-check {
      color: #e9bbb5;
    }

    .btn_accept {
      background-color: rgb(50, 144, 53);
      color: white;
      padding: 4px 5px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:7px;
      opacity: 0.8;
    }

    .btn_reject {
      background-color: rgb(171, 46, 46);
      color: white;
      padding: 4px 5px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:7px;
      opacity: 0.8;
    }
  </style>
</head>

<body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #bebebe;">
    <a class="navbar-brand" href="/">PCS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/caretakers/<%= userName %>">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/history">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
  
      </ul>
    </div>
  </nav>

  <div class="container bootdey flex-grow-1 container-p-y">

    <div class="media align-items-center py-3 mb-3">
      <img src="/images/girl.jpg" alt="" class="d-block ui-w-100 rounded-circle">
      <div class="media-body ml-4">
        <h4 class="font-weight-bold mb-0"><%= firstName + " " + lastName%></h4>
        <a href="/history" class="btn btn-primary btn-sm">History</a>&nbsp;
        <a href="/auth/logout" class="btn btn-primary btn-sm">Logout</a>&nbsp;
        <a href=<%= "/apply_leave/"+userName   %> class="btn btn-default btn-md">Apply for Leave</a>&nbsp;
        <a href=<%= "/add_availability/"+userName   %> class="btn btn-default btn-md">Add Availability</a>&nbsp;
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <table class="table user-view-table m-0">
          <tbody>
            <tr>
              <td>Username:</td>
              <td><%= userName%></td>
            </tr>
            <tr>
              <td>Role:</td>
              <td><%= role%></td>
            </tr>
            <% if(role == "Full-Time Caretaker"){ %>
              <tr>
                <td>Status:</td>
                <td>Active</td>
              </tr>
            <% } %>
            <tr>
              <td>Animals:</td>
              <td>Dogs, Rabbits, Cats</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="card mb-4">
      <div class="row no-gutters row-bordered">
        <div class="d-flex col-md align-items-center">
          <a href="javascript:void(0)" class="card-body d-block text-body">
            <div class="text-muted small line-height-1">Average Rating</div>
            <div class="text-xlarge"><%= rating%></div>
          </a>
        </div>
        <div class="d-flex col-md align-items-center">
          <a href="javascript:void(0)" class="card-body d-block text-body">
            <div class="text-muted small line-height-1">Current month's total pet days</div>
            <div class="text-xlarge"><%= pet_days%></div>
          </a>
        </div>
        <div class="d-flex col-md align-items-center">
          <a href="javascript:void(0)" class="card-body d-block text-body">
            <div class="text-muted small line-height-1">Current month's salary</div>
            <div class="text-xlarge"><%= salary%></div>
          </a>
        </div>
      </div>
      <hr class="border-light m-0">
      <% if(role == "Part-Time Caretaker"){ %>
        <% if (avails.length > 0) { %>
          <div class="card mb-4">
            <div class="table-responsive">
              <table class="table card-table m-0">
                <tbody>
                  <tr>
                    <th>Availability</th>
                    <th>Booked</th>
                  </tr>
                  <% for(var i=0; i < avails.length; i++) { %>
                  <tr>
                    <td><%= avails[i].avail_date.toISOString().slice(0,10) %></td>
                    <td><span class="fa fa-times text-light"></span></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        <% } else { %>
            <div class="card">
              <div class="card-body">
                No availability has been specified.
              </div>
            </div>
            <br>
        <% } %>

      <% } %>
      
    </div>

  <h2>Bids</h2>
  <% if (bids.length > 0) { %>
  <div class="card mb-4">
    <div class="table-responsive">
      <table class="table card-table m-0">
        <tbody>
          <tr>
            <th>Petowner's Name</th>
            <th>Animal's Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Bid Amount</th>
            <th>Accept/ Reject</th>
          </tr>
          <% for(var i=0; i < bids.length; i++) { %>
          <tr>
            <td><%= bids[i].pouname %></td>
            <td><%= bids[i].name %></td>
            <td><%= bids[i].s_date.toISOString().slice(0,10) %></td>
            <td><%= bids[i].e_date.toISOString().slice(0,10) %></td>
            <td><%= bids[i].price %></td>
            <td>
              <a href="/caretakers/<%= userName %>/accept/<%= bids[i].s_date.toISOString().slice(0,10) %>/<%= bids[i].e_date.toISOString().slice(0,10) %>/<%= bids[i].pouname %>/<%= bids[i].name %>/<%= bids[i].price %>"
                class="btn_accept">Accept</a>
              <!-- <a href="/caretakers/<%= userName %>/reject/<%= bids[i].s_date %>/<%= bids[i].e_date %>/<%= bids[i].pouname %>/<%= bids[i].name %>"
                class="btn_reject">Reject</a> -->
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <% } else { %>
  <div class="card">
    <div class="card-body">
      There are no bids.
    </div>
  </div>
  <br>
  <% } %>

  <h2>Your Reviews</h2>
  <% if (reviews.length > 0) { %>
  <div class="card mb-4">
    <div class="table-responsive">
      <table class="table card-table m-0">
        <tbody>
          <tr>
            <th>Name</th>
            <th>Review</th>
            <th>Rating</th>
          </tr>
          <% for(var i=0; i < reviews.length; i++) { %>
          <tr>
            <td><%= reviews[i].first_name %> <%= reviews[i].last_name %></td>
            <td><%= reviews[i].review %></td>
            <td><%= reviews[i].rating %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <% } else { %>
  <div class="card">
    <div class="card-body">
      There are no reviews.
    </div>
  </div>
  <br>
  <% } %>

  </div>


  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  </script>
</body>

</html>